$main-color: #5e666e;

@font-face {
    font-family: "MarkaziText";
    src: url("../fonts/MarkaziText-VariableFont_wght.ttf");
}

body,
html,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "MarkaziText", regular;
    scroll-behavior: smooth;
    color: #f7faff;
    font-size: xx-large;
}

h1,
h2,
h3 {
    margin: 12px 16px;
}

a,
link {
    text-decoration: none;
    color: #f7faff;
}

* {
    box-sizing: inherit;
}

.AppContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
}

.mainWindow {
    flex-grow: 2;
    width: 100%;
    text-align: center;
    background-color: #FFF;
}

.menuContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}